<div class="container">
	<div class="row text-center">
        <div class="col">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="info">
                <h3>Chris Truax</h3>
                <img src="assets/scrumct.jpg" alt="Chris Truax" class="img-fluid photo left">
                Full stack web developer with a passion for problem solving in efficient ways. Looking to work in an environment where I can make an impact on the company's bottom line through coding, making processes more efficient. Enjoy creating things, and coding is my medium. Before taking on a career change to web development, working in non-profit taught me leadership, team building, public speaking, leadership development, and strategic planning.
            </div>
            <div class="info">
                <h3>Daniel Warrick</h3>
                <img src="assets/scrumdw.jpg" alt="Daniel Warrick" class="img-fluid photo right">
                I am a creative, hard-working, and self motivated full stack developer. With my past experience of starting businesses, I have learned how to learn quickly, engage customers, and solve problems on my own. Recently, I finished an immersive bootcamp at the Coding Dojo where I learned full stack development for Python, MEAN, and Ruby on Rails. During the bootcamp, I not only created a robust portfolio but I learned how to work on projects as a team with GitHub, Agile development, and Scrum. Going forward I want to work with a team building useful tools for end-users.
            </div>
            <div class="info">
                <h3>Henry Kim</h3>
                <img src="assets/scrumhk.jpg" alt="Henry Kim" class="img-fluid photo left">
                I graduated from an immersive coding bootcamp with full stack development knowledge in three languages: Python, Ruby on Rails, and MEAN. Previously, before starting my bootcamp, I worked for Samsung Electronics of America for close to 6 years as a Software Test Engineer/Quality Assurance Engineer in a very demanding fast-pace environment. I wanted to be well versed with the fundamentals with coding to further develop and learn new skills to stay competitive in the market.
            </div>
            <div class="info">
                <h3>Ian Hurd</h3>
                <img src="assets/scrumih.jpg" alt="Ian Hurd" class="img-fluid photo right">
                Young professional able to work efficiently on difficult software projects utilizing past knowledge and experiences and the ability to quickly learn new languages, frameworks and techniques. Able to work independently or in team based projects with good communication skills and an effective grasp of overall project vision. Detailed experience in development with Python, Ruby on Rails, and MEAN as well as previous education in C, C++, and MATLAB.
            </div>
            <div class="info">
                <h3>Kristen Martino</h3>
                <img src="assets/scrumkm.jpg" alt="Kristen Martino" class="img-fluid photo left">
                I'm a full stack developer with experience in revenue strategy, data analytics, engineering, and consulting. I have a thirst for knowledge and am excited to use my varied skillset to contribute to many aspects of the software development lifecycle and hope to join a company working for the greater good.
            </div>
            <div class="info">
                <h3>Ryan Churay</h3>
                <img src="assets/scrumrc.jpg" alt="Ryan Churay" class="img-fluid photo right">
                My background is in the legal field. I have a bachelor's degree in Political Science and Philosophy and pursued law school for a year. After taking a step back and working in the industry for several years, I found a passion for programming. During my time at the firm, I decided to take on the challenge of designing and building the firms website which solidified my decision to make a change in careers. I am driven by my passion for the outdoors and look forward to opportunities that allow me to explore that passion. I believe the foundation to a happy work life is not what we build, but who we build it with. I thrive in environments with a good team, a passion for work, and healthy competition that pushes each member to be better.
            </div>
            <div class="info">
                <h3>Zachary Pieper</h3>
                <img src="assets/scrumzp.jpg" alt="Zachary Pieper" class="img-fluid photo left">
                After graduating with degrees in Education and Computer Information Systems, I moved from Buffalo to Dallas to continue growing my knowledge in software development. Since graduating from the Coding Dojo program, I have had the pleasure to work there to help others realize their potential in programming. So far, I have knowledge developing in MEAN, React, Ruby on Rails, Java, and Python, and want to keep adding to this list. I am looking for a place with an awesome and supportive team that challenges me daily to push myself to new heights.
            </div>
        </div>
    </div>
	<div class="bottombar row">
        <div class="col">
            <div class="prev-button">
                <a [routerLink]="['/dashboard/exercise/other-agile']" class="btn btn-outline-secondary">Prev</a>
            </div>
        </div>
    </div>
</div>
