
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Sprint</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>What is a Sprint?</h3>
                <p>The heart of Scrum is a time-box called a Sprint. They can range anywhere from 1 to 4 weeks, and should stay consistent to allow teams to settle into a cadence for all of the different events that occur. A new Sprint starts immediately after the conclusion of the previous Sprint.</p>
                <p>No changes are made that would affect the Sprint Goal. Development Team composition remains constant. Quality goals do not decrease as the days progress. Scope may be clarified / renegotiated as more is learned. Sprint may be cancelled if the Sprint Goal becomes obsolete ( Product Owner). The scope of the teams efforts are protected by this time-box of effort. Timeboxing allows for focused efforts and making educated tradeoff</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Now for a Quick Exercise (optional)</h3>
                <p>Draw a Form!</p>
                <p>Form A: Schedule a car wash - This form will be used by a customer of a car dealership that would like to schedule a car wash for their vehicle. The employee needs just enough information to set the appointment up and contact the customer to confirm the car wash.</p>
                <p>Form B: Submit service request - This form will be used by the customer of a car dealership to request some services for their vehicle. The employee needs just enough information to set the appointment up and contact the customer to confirm the service appointment.</p>
            </div>
        </div>
        <div class="bottombar row">
            <div class="col">
                <div class="prev-button">
                    <a [routerLink]="['/dashboard/lesson/daily-scrum']" class="btn btn-outline-secondary">Prev</a>
                </div>
                <div class="next-button">
                    <a [routerLink]="['/dashboard/lesson/sprint-review']" class="btn btn-outline-secondary">Next</a>
                </div>
            </div>
        </div>
    </div>
</body>