@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

*{
	font-family: 'Poppins', sans-serif;
}

iframe {
  margin: auto;
  width: 80%;
  border: 0;
  padding: 5px;
  display: block;
}
