
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Scrum Master</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>What is the Scrum Master?</h3>
                <p>The Scrum Master works as servant leader, supporting the Product Owner, the Development Team, and the whole organization to promote and support the implementation of Scrum. They do this by evangelizing Scrum theory, practices, rules, and values.</p>

                <img src="assets/sm_1.png" alt="servant leadership" class="img-fluid">

                <p class="mt-3"><strong>Responsibilities:</strong></p>
                <ul>
                    <li>
                        <p>Aids the Product Owner in creating and maintaining the Product Backlog</p>
                    </li>
                    <li>
                        <p>Supports the Development Team as they accomplish backlog items to realize the Definition of Done</p>
                    </li>
                    <li>
                        <p>Removes impediments that are holding up the Development Team's progress towards sprint goals</p>
                    </li>
                    <li>
                        <p>Shields Development Team members from external distractions</p>
                    </li>
                    <li>
                        <p>Coaches the organization in the adoption of Scrum</p>
                    </li>
                    <li>
                        <p>Organizes/facilitates Sprint events</p>
                    </li>
                </ul>
                <!-- <p><strong>Characteristics:</strong></p> -->
                <img src="assets/sm_2.png" alt="SM roles" class="img-fluid">
                <!-- <ul>
                    <li>
                        <p>Always looking to grow their skills</p>
                    </li>
                    <li>
                        <p>Enjoys seeing others succeed</p>
                    </li>
                    <li>
                        <p>Builds Rapport quikcly</p>
                    </li>
                    <li>
                        <p>Great story tellrs</p>
                    </li>
                    <li>
                        <p>"People person"</p>
                    </li>
                    <li>
                        <p>Listens effectively</p>
                    </li>
                    <li>
                        <p>Helpful to others</p>
                    </li>
                    <li>
                        <p>Strong facilitaion skills</p>
                    </li>
                    <li>
                        <p>Makes things easier, not harder</p>
                    </li>
                </ul> -->
                <p class="mt-3"><strong>To be successful, SMs must:</strong></p>
                <ul>
                    <li>
                        <p>Have their role understood and supported by the organization</p>
                    </li>
                    <li>
                        <p>Have a strong grasp  on Scrum and the ability to teach/coaching</p>
                    </li>
                    <li>
                        <p>Have no authority to make decisions on Team commitments</p>
                    </li>
                </ul>
            </div>
        </div>
      <div class="bottombar row">
            <div class="col">
                <div class="prev-button">
                    <a [routerLink]="['/dashboard/lesson/product-owner']" class="btn btn-outline-secondary">Prev</a>
                </div>
                <div class="next-button">
                    <a [routerLink]="['/dashboard/lesson/dev-team']" class="btn btn-outline-secondary">Next</a>
                </div>
            </div>
        </div>
    </div>
</body>
