
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Sprint Retrospective</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>What is the Sprint Retrospective?</h3>
                <p>This is a session geared around continous improvement for how the team works together. Participants reflect on project and process related issues, identify the good and bad, and generate a plan of action to improve moving forward.</p>
                <p><strong>Goal:</strong></p>
                <p>Previous Sprint is reviewed by the Scrum Team. Items that went well and items that need improvement are identified. Plan is created for the Scrum Team ti improve in the upcoming Sprint</p>
                <p><strong>Roster:</strong></p>
                <p>Development Team, Scrum Master, Product Owner</p>
                <p><strong>Time-box:</strong></p>
                <p>3 hours for a 4-week sprint (target < 1 hour for each week of Sprint)</p>
                <p><strong>Frequency:</strong></p>
                <p>The last activity in a Sprint</p>
                <p><strong>The Product Owner and Development Team will discuss:</strong></p>
                <p>What went well during the sprint. Review previous plan to see if the Scrum Team improved. Create a plan for following through on improvements the Scrum Team identified in the upcoming Sprint. What the team will commit to improve the next sprint. This meeting will determine what changes need to be made to the processes or definition of “done” for tasks prior to starting the next sprint.</p>
                <p><strong>Scrum Master:</strong></p>
                <p>Participates as a peer in this session: even-level! Assist participants in creating a plan for improving the next Sprint. Sometimes acts as a facilitator; beneficial for a third party to perform this</p>

								<h3>Team Retrospective</h3>
								<p> During the retrospective, the team should compare with there previous retrospective to see if they have met the goals they wanted to improve on.</p>

            </div>
        </div>
				<img src="assets/retro_1.png" alt="retro example" class="img-fluid">
    </div>
</body>
