
<!-- -->
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Exercise: User Stories</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Exercise:</h3>
                <p>For this exercise you will be you be improving the following user stories. On a text document give feedback on how each User Story can be improved:</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>#1 Title:  Sales Reporting</strong></p>
                <p>Description: As a customer I can sign up for the mailing list so that I know about sales.</p>
            </div>
            <div class="col">
                <p><strong>Acceptance Criteria:</strong></p>
                <ul>
                    <li>
                        <p>Customer is happy</p>
                    </li>
                    <li>
                        <p>Shop owner is happy</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>#2 Title: (none) </strong></p>
                <p>Description: As a customer I sign up for the mailing list so that I know about sales.</p>
            </div>
            <div class="col">
                <p><strong>Acceptance Criteria:</strong></p>
                <ul>
                    <li>
                        <p>Sales numbers increase</p>
                    </li>
                    <li>
                        <p>Product Owner can accept this story</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>#3 Title: Contact Info</strong></p>
                <p>Description: As a customer I can look around the store so I can look around the store.</p>
            </div>
            <div class="col">
                <p><strong>Acceptance Criteria:</strong></p>
                <ul>
                    <li>
                        <p>(none)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottombar row">
            <div class="col">
                <div class="prev-button">
                    <a [routerLink]="['/dashboard/lesson/user-stories']" class="btn btn-outline-secondary">Prev</a>
                </div>
                <div class="next-button">
                    <a [routerLink]="['/dashboard/lesson/sprint-planning']" class="btn btn-outline-secondary">Next</a>
                </div>
            </div>
        </div>
    </div>
</body>