@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p h1 h3{
	font-family: 'Poppins', sans-serif;
	color: black;
}

