
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Product Backlog and Refinement</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Product Backlog</h3>
                <p>The product backlog is the master list made by the product owner that contains all the tasks necessary to create the product. Tasks will be listed as stories, and will have an estiamtion and priority. The product backlog will be changed throughout development, as the client adds or modifies requirements for the product.</p>
								<p> It is NOT a to-do list of tasks!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Refinement</h3>
								<p>This activity is the continous act of adding the appropriate detail, estimates, and order to items in the Product Backlog. This is a collaborative sesion with the Product Owner and the Development Team collaborate on the details of Product Backlog items.</p>
                <p><strong>Goal:</strong></p>
                  <p>Mutual understanding on a per-item basis</p>
  								<p>Adequate levels of detail are added to PBI</p>
                  <p>Estimates are generated for identified PBI</p>
									<p>Product Owner orders items based on up-to-date information</p>
                <p><strong>Roster:</strong></p>
                	<p>Development Team
                	Product Owner
                	Scrum Master</p>
                <p><strong>Time-Box:</strong></p>
                <p>Scrum Teams spend up to 10% of their Sprint capacity on this activity</p>
                <p><strong>Frequency:</strong></p>
								<p>Continuous activity</p>
            </div>

        </div>
				<img src="assets/product_backlog.png" alt="Product Backlog" class="img-fluid" style="height: 600px;">
        <div class="row">
            <div class="col">
                <h3 class="mt-3">Now for a Quick Exercise</h3>
                <p>Paint a Room!<p>
                <p>For this exercise we will have the dev team go through and scrum the process of painting a room. Unlike in the typical scrum process we will have the dev team generate the product backlog. Take 5-10 minutes and individually write down the steps for painting a room in a house. Afterwards the group will come together and compare tasks and, as a group, decide which of the steps are needed to paint and place them in the product backlog. </p>
                <p>For our example we will start with the list below in the product backlog.</p>
                <ul>
                    <li>
                        <p>Measure the room</p>
                    </li>
                    <li>
                        <p>Decide on a color</p>
                    </li>
                    <li>
                        <p>Get supplies</p>
                    </li>
                    <li>
                        <p>Prep the room for painting</p>
                    </li>
                    <li>
                        <p>Paint the room</p>
                    </li>
                    <li>
                        <p>Clean up</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
