<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container p-4">
      <h1>Let's see all the users</h1>
      <ul class="list-group col-10">
        <% for (var user of all_users) { %>
          <li class="list-group-item">
            <%= user %>
            ||| 
            Name: <%= user.first_name %>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
