<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Sprint Review</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>What is a Sprint Review?</h3>
                <p>A Sprint Review is held at the end of the Sprint to inspect the Increment and adapt the Product Backlog if needed. During the Sprint Review, the Scrum Team and stakeholders collaborate about what was done in the Sprint. Based on that and any changes to the Product Backlog during the Sprint, attendees collaborate on the next things that could be done to optimize value. This is an informal meeting, not a status meeting, and the presentation of the Increment is intended to elicit feedback and foster collaboration.</p>
                <p><strong>Goal:</strong></p>
                <p>Accomplishments are reviewed and demonstrated to participants</p>
                <p>Feedback is gathered to help determine what to do next</p>
                <p>Potential re-prioritization of Product Backlog Items following discussions</p>
                <p><strong>Roster:</strong></p>
                <p>Development Team, Product Owner, Scrum Master, key Stakeholders</p>
                <p><strong>Time-Box:</strong></p>
                <p>This is at most a four-hour meeting for one-month Sprints. (target one hour / week of Sprint)</p>
                <p><strong>Frequency:</strong></p>
                <p>The next-to-last activity in a Sprint</p>
                <p><strong>The Sprint Review includes the following elements:</strong></p>
                <ul>
                    <li>
                        <p><strong>Product Owner-</strong> Explains what Product Backlog items have been "Done" and what has not been "Done"; Discusses the Product Backlog as it stands. He or she projects likely target and delivery dates based on progress to date (if needed); Captures feedback that will drive decisions on potential updates to the Product Backlog</p>
                    </li>
                    <li>
                       <p><strong>Development Team-</strong> Discusses what went well during the Sprint, what problems it ran into, and how those problems were solved Demonstrates the work that it has "Done" and answers questions about the Increment</p>
                    </li>
                    <li>
                        <p><strong>Scrum Master-</strong>Creates an environment for gathering feedback and working together to determine what to do next.  Makes sure that all attendees understand the purpose and outcomes of this conversation. Keeps the discussion within the time-box</p>
                    </li>
                    <li>
                        <p><strong>All-</strong> The entire group collaborates on what to do next, so that the Sprint Review provides valuable input to subsequent Sprint Planning;  Review of how the marketplace or potential use of the product might have changed what is the most valuable thing to do next; and, Review of the timeline, budget, potential capabilities, and marketplace for the next anticipated releases of functionality or capability of the product. </p>
                    </li>
                </ul>
               <p><strong>The Sprint Review should not incude the following:</strong></p>
               <ul>
                   <li>
                       <p><strong>Formal Sign Off</strong></p>
                   </li>
                   <li>
                       <p><strong>Utilization Review</strong></p>
                   </li>
                   <li>
                       <p><strong>PBI != "Done"</strong></p>
                   </li>
               </ul>
               <p>The result of the Sprint Review is a revised Product Backlog that defines the probable Product Backlog items for the next Sprint. The Product Backlog may also be adjusted overall to meet new opportunities.</p>
            </div>
        </div>
    </div>
</body>
