<div class="topbar align-items-center row p-2">
  <div class="logo d-inline-block  col-4 text-white">
    <img src="assets/bescrum-logo-3.svg" alt="Scrum" class="img-fluid" style="height: 50px">
  </div>
    <h3 class="username d-inline-block text-center  col-4 text-white">BeScrum</h3>
    <div class="col-4">
      <a class="btn btn-light float-right" [routerLink]="['/login']">
        Login/Register
      </a>
    </div>
</div>

<div class="container bg-light">
  <img src="assets/scrum_meeting_thin.png" alt="servant leadership" class="img-fluid">
<!-- <img src="assets/scrum_meeting.png" alt="servant leadership" class="img-fluid"> -->

  <h3 class='text-center'>Welcome to the BeScrum Learning Platform!</h3>
  <p>This platform is designed to teach you the Scrum process in an Agile environment. BeScrum lesson plan provides a comprehensive explanation of the Scrum process, the roles of each team member, and exercises to help you practice. Plan to complete the course with a group of 4-8. The group will spend a day with the learning materials and about 4 days with a final sprint project. Please take a moment to register and get started!</p>
  <a class="btn btn-primary" [routerLink]="['/login']">LogIn/Register</a>

</div>

<router-outlet></router-outlet>
