<head>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <title>Login - Scrum Learning Platform</title>
</head>

<body>
<section class="login-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
        <div class="login-box">

          <!--Login Form-->
          <input type='checkbox' id='form-switch'>
          <form id='login-form' (submit)="loginButton($event)" #login_form="ngForm">
            <div class="row">
              <div class="col">
                <h1>Log In</h1>
              </div>
            </div>
              <div class="row mt-4">
                <div class="col">
                  <input type="text" class='form-control' placeholder="Username" required minlength="3"
                    maxlength="20" name="login_entry.username" [(ngModel)]="login_entry.username"
                    #username="ngModel">
                  <small class="text-danger" [hidden]="username.valid && !login_errors.username || (username.untouched && !login_form.submitted)">
                    Usernames must be 3-20 characters.
                  </small>
                </div>
              
              </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" class='form-control' placeholder="Password" required name="login_entry.password"
                       minlength="8" [(ngModel)]="login_entry.password" #password="ngModel">
                <small class="text-danger" [hidden]="password.valid && !login_errors.password || (password.untouched && !login_form.submitted)">
                  Passwords must be at least 8 characters, with 1 number and 1 uppercase letter.
                </small>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type='submit' class="btn btn-outline-secondary" [disabled]="!login_form.valid">Login</button>
                <label for='form-switch'><span class="">Register</span></label>
              </div>
            </div>
          </form>

          <!--Registration Form-->
          <form id='register-form' (submit)="registerButton($event)" #form="ngForm">
            <div class="row">
              <div class="col">
                <h1>Sign Up</h1>
              </div>
            </div>
              <div class="row mt-4">
                <div class="col">
                  <input type="text" class='form-control' placeholder="Username" required name="entry.username"
                    minlength="3" maxlength="20" unique=true [(ngModel)]="entry.username" #username="ngModel">
                  <small class="text-warning" [hidden]="!dup_errors.err || (username.untouched && !form.submitted) || username.valid">
                    Duplicate found, please use another username.
                  </small>
                  <small class="text-danger" [hidden]="(username.valid && !errors.username) || (username.untouched && !form.submitted)">
                    Usernames must be 3-20 characters.
                  </small>
                </div>
              </div>
            <div class="row mt-3">
              <div class="col">
                <input type="password" class='form-control' placeholder="Password" required name="entry.password"
                       minlength="8" [(ngModel)]="entry.password" #password="ngModel">
                <small class="text-danger" [hidden]="password.valid && !errors.password || (password.untouched && !form.submitted)">
                  Passwords must be at least 8 characters, with 1 number and 1 uppercase
                  letter.
                </small>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input type="password" class='form-control' placeholder="Re-enter Password"
                       required name="entry.password_conf" minlength="8" [(ngModel)]="entry.password_conf"
                       #password_conf="ngModel">
                <small class="text-danger" [hidden]="password_conf.valid && !errors.password_conf || (password_conf.untouched && !form.submitted)">
                  Passwords must be at least 8 characters, with 1 number and 1 uppercase
                  letter.
                </small>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <button type='submit' class="btn btn-outline-secondary" [disabled]="!form.valid">Register</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <label for='form-switch'>Already a Member? Sign In Now...</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
