<!DOCTYPE html>
<html lang="en">

<body>

<div class="wrapper">
	<!-- Sidebar  -->
	<nav id="sidebar">
		<div class="sidebar-header align-items-center">
			<h3 class='d-inline-block'>BeScrum</h3>
			<img src="assets/bescrum-logo-3.svg" alt="Scrum" class="img-fluid d-inline-block" style="height: 50px">
		</div>

		<ul class="list-unstyled components">
			<li class="active">
				<a href="#OverviewSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Scrum
					Overview</a>
				<ul class="collapse list-unstyled show" id="OverviewSubmenu">
					<li>
						<a [routerLink]="['/dashboard/lesson/overview']">Overview</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/product-owner']">Product Owner</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/scrum-master']">Scrum Master</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/dev-team']">Dev Team</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/quiz/1']">Quiz 1</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="list-unstyled components">
			<li class="active">
				<a href="#CycleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Scrum Cycle</a>
				<ul class="collapse list-unstyled" id="CycleSubmenu">
					<li>
						<a [routerLink]="['/dashboard/lesson/sprint-cycle']">Sprint Cycle</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/backlog-refinement']">Backlog Refinement</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/user-stories']">User Stories</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/exercise/stories-exercise']">Exercise: User Stories</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/sprint-planning']">Sprint Planning</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/exercise/change-tire']">Exercise: Change a Tire</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/daily-scrum']">Daily Scrum</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/sprint']">Sprint</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/sprint-review']">Sprint Review</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/lesson/sprint-retrospective']">Sprint Retrospective</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/quiz/2']">Quiz 2</a>
					</li>
					<li>
						<a [routerLink]="['/dashboard/exercise/other-agile']">Exercise: Other Agile Methods</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="list-unstyled components">
			<li class="active mb-4">
				<a [routerLink]="['/dashboard/about']">About Us</a>
			</li>
		</ul>
	</nav>

	<div id="content">

		<div class="align-items-center row">
			<h3 class="d-inline-block col-4"></h3>
		  <div class="d-inline-block text-center col-4 pt-2">
		    <img src="assets/bescrum-logo.png" alt="Scrum" style="height: 75px">
		  </div>
	    <div class="col-4 d-inline-block">
	      <a class='float-right' [routerLink]="['/login']">
	        <h6 class='text-danger'>logout</h6>
	      </a>
	    </div>
		</div>

		<router-outlet id="component"></router-outlet>
	</div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$("#sidebar").mCustomScrollbar({
			theme: "minimal"
		});

		$('#sidebarCollapse').on('click', function () {
			// open or close sidebar
			$('#sidebar, #content').toggleClass('active');
			// $('#sidebar').toggleClass('active');
			$(this).toggleClass('active');
			// close dropdowns
			$('.collapse.in').toggleClass('in');
			// adjust aria-expanded attributes we use for the open/closed arrows in our CSS
			$('a[aria-expanded=true]').attr('aria-expanded', 'false');
		});
	});
</script>
</body>

</html>
