/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
#component{
	/*width: 100%;*/
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
    width: 100%;
}

#sidebar {
	width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
		overflow-y: scroll;
}

#sidebar.active {
	margin-left: -250px;
	transform: rotateY(100deg);
}

#sidebar .sidebar-header {
	/*padding: 15px;*/
	background: #6d7fcc;
}

#sidebar .sidebar-header h3 {
	line-height: 2em;
	padding: 10px;
}

#sidebar ul.components {
	padding: 15px 0 0 0;
	margin: 0;
	/*border-bottom: 5px solid #7386D5;*/
}

#sidebar ul p {
	color: #fff;
	/*padding: 10px;*/
}

#sidebar ul li a {
	padding: 15px;
	font-size: 1.1em;
	display: block;
}

.active a:hover {
	background: #fff;
	color: #7386D5;
}

#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

#sidebarCollapse {
	width: 40px;
	height: 40px;
	background: #f5f5f5;
}

#sidebarCollapse span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
	/* rotate first one */
	transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
	/* second one is not visible */
	opacity: 0;
}

#sidebarCollapse span:last-of-type {
	/* rotate third one */
	transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
	/* no rotation */
	transform: none;
	/* all bars are visible */
	opacity: 1;
	margin: 5px auto;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #7386D5 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: calc(100% - 250px);
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

#content.active {
	width: 100%;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

	/* Reversing the behavior of the sidebar:
		 it'll be rotated vertically and off canvas by default,
		 collapsing in on toggle button click with removal of
		 the vertical rotation.   */
	#sidebar {
		margin-left: -250px;
		transform: rotateY(100deg);
	}

	#sidebar.active {
		margin-left: 0;
		transform: none;
	}

	/* Reversing the behavior of the bars:
		 Removing the rotation from the first,
		 last bars and reappear the second bar on default state,
		 and giving them a vertical margin */
	#sidebarCollapse span:first-of-type,
	#sidebarCollapse span:nth-of-type(2),
	#sidebarCollapse span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}

	/* Removing the vertical margin and
		 make the first and last bars rotate again when the sidebar is open,
		 hiding the second bar */
	#sidebarCollapse.active span {
		margin: 0 auto;
	}

	#sidebarCollapse.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}

	#sidebarCollapse.active span:nth-of-type(2) {
		opacity: 0;
	}

	#sidebarCollapse.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}

	#content {
		width: 100%;
	}

	#content.active {
		width: calc(100% - 250px);
	}

	/* #sidebarCollapse span {
			display: none;
	} */
}
