
<body>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h3>{{ quiz?.title }}</h3>
			</div>
		</div >
		


			<form class="form-group" (submit)='answers(quiz)'>
				<div class="mt-2" *ngFor='let q of quiz.questions'>
					<h5>{{ q.question }}</h5>
					<div class="form-check" *ngFor='let a of q.answers; let i = index'>
						
						<input class="form-check-input" type="radio" name="{{q.question}}" [value]="i" [(ngModel)]="q.selected">
						<label class="form-check-label">{{ a.answer }}</label>{{a.selected}}
						<div *ngIf='grade' class="d-inline-block ml-3">
							<div *ngIf="q.selected == i">
								<img *ngIf='a.correct == true' src="assets/check-mark.png" alt="correct" style="width:20px">
								<img *ngIf='a.correct == false' src="assets/x-mark.png" alt="wrong" style="width:20px">
							</div>
						</div>
					</div>
				</div>
				<button type="submit" name="button" class='btn btn-success mt-4'>submit</button>
			</form>
				

	</div>

</body>
