
<body>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h3>{{ quiz?.title }}</h3>
			</div>
		</div >
		<!-- First Forloop Here to go through questions -->


			<form class="form-group" >
				<div class="mt-2" *ngFor='let q of quiz.questions'>
					<h5>{{ q.question }}</h5>
					<div class="form-check" *ngFor='let a of q.answers'>
						<input class="form-check-input" type="radio" name="{{q.question}}">
						<label class="form-check-label">
						{{ a.answer }}</label>
					</div>
				</div>
				<button type="submit" name="button" class='btn btn-success mt-4'>submit</button>
			</form>
				<!-- for each question go through all questions -->

				<!-- end for-->
		<!-- endfor -->


	</div>

</body>
